*{
    margin: 0;
    padding: 0;
}
body,html{
    height : 100%;
    width: 100%;
}
html{
    background-color: #e9edc9;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin ;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
}
.box{
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    height: 18vmin;
    width: 18vmin;
    font-size: 8vmin;
    color: #c1121f;
    background-color: #ffedd8;
}
#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#0b090a ;
    color: #f5f3f4;
    border-radius: 1rem;
    border: none;
}
#new-game{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#0b090a ;
    color: #f5f3f4;
    border-radius: 1rem;
    border: none;
}
#msg{
    color: #1dd904;
    font-size: 8vmin;
}
.msg-cont{
    height: 25vmin;
}
.hide{
    display: none;
}